@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Variables */

:root {
  --color1: rgba(27, 27, 27, 0.7);
  --color2: #f5d5e0;
  --color3: #460c68;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--color1);
  color: var(--color2);
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  overflow-x: hidden;
}

/* Nebula Page */

#nebula-box {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
  color: black;
}

#nebula-box h1 {
  font-size: 5rem;
  color: black;
  font-style: italic;
  text-shadow: 0 0 0.5rem #eee239
}

#nebula-box button {
  font-family: inherit;
  border: 0.3rem solid black;
  box-shadow: 0 0 0.5rem #eee239;
  width: 60%;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  background: none;
  transition: all 0.1s ease;
}

#nebula-box button:hover {
  box-shadow: 0 0 0.5rem #ffffff;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

#nebula-box button a {
  text-decoration: none;
  color: inherit;
}