@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* Variables */

:root {
  --color1: #1b1b1b;
  --color2: #f5d5e0;
  --color3: #7f167f;
  --color4: #eee239;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--color1);
  color: var(--color2);
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  overflow-x: hidden;
  transition: all 1s ease;
  scroll-behavior: smooth;
  letter-spacing: 0.07rem;
}

h3 {
  color: var(--color3);
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
  font-style: italic;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Nebula Page */

#nebula-box {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
  color: white;
}

#nebula-box h1 {
  font-size: 5rem;
  color: black;
  font-style: italic;
  text-shadow: 0 0 0.5rem var(--color4), 0 0 0.5rem var(--color4),
    0 0 0.5rem var(--color4), 0 0 0.5rem var(--color4);
}

#nebula-box button {
  font-family: inherit;
  border: 0.3rem solid black;
  box-shadow: 0 0 0.5rem var(--color4), 0 0 0.5rem var(--color4);
  text-shadow: 0 0 0.5rem white, 0 0 0.5rem white, 0 0 0.5rem white;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  background: none;
}

#nebula-box button:hover {
  box-shadow: 0 0 1rem #ffffff;
  cursor: pointer;
}

#nebula-box button a {
  text-decoration: none;
  color: inherit;
}

/* Header + Navbar Section */
header {
  position: relative;
}

.gradient2 {
  width: 100vw;
  height: 20vh;
  background: linear-gradient(black, #1b1b1b);
}

#bg3 {
  display: block;
  height: 50%;
}

header h1 {
  font-family: "Orbitron", sans-serif;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  letter-spacing: 0.35rem;
  font-style: italic;
  text-shadow: 0 0 1rem var(--color4);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: center;
  align-items: baseline;
  text-align: center;
  background: black;
  font-size: 80%;
}

.navbar h2:hover {
  cursor: pointer;
  text-shadow: 0 0 1rem var(--color4);
}

.nav-btns,
.nav-links {
  display: flex;
  justify-content: space-evenly;
}

.nav-btns {
  align-items: center;
}

.nav-btns {
  align-items: center;
}

.nav-btns button {
  background-color: rgba(27, 27, 27, 0.1);
  border: none;
}


.nav-btns img {
  padding: 0.5rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: var(--color2);
}

.nav-btns img:hover {
  cursor: pointer;
  background-color: var(--color3);
}

.nav-links a:link, .nav-links a:visited {
  text-decoration: none;
  color: var(--color2);
}

.nav-links a:hover {
  text-decoration: underline solid 20% var(--color3);
  cursor: pointer;
}

/* About Section */

.container {
  max-width: 90%;
  margin: auto;
}

.about-box {
  height: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem;
  align-items: center;
  margin-bottom: 5%;
}

.about-box img {
  width: 80%;
}

#about-text1 {
  margin-top: 8%;
  display: inline;
  font-size: 1.5rem;
  font-weight: bold;
}

.about-btn {
  padding: 0.8rem;
  border-radius: 1rem;
  width: 14rem;
  margin-top: 8%;
  background-color: var(--color1);
  color: var(--color2);
  font-size: 1.5rem;
  transition: all 0.5s ease;
  border: var(--color2) solid;
}

.about-btn:hover {
  background-color: var(--color2);
  color: var(--color1);
  letter-spacing: 0.2rem;
}

/* Tools and Skills Section */

.skills-line {
  width: 50%;
  margin-left: 0;
}

#skills h3 {
  margin-left: 3.9rem;
}

.icons {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  padding: 1rem;
  border-radius: 1rem;
}

.icons img {
  width: 3.5rem;
  height: 3.5rem;
}

.icons div {
  transition: all 0.5s ease;
}

.icons div:hover {
  transform: scale(1.2);
  text-shadow: 0 0 0.5rem var(--color4);
}

.icons div:active {
  transform: scale(1);
}

/* UFO img */
.ufo {
  width: 10rem;
  position: relative;
  left: 10%;
  animation: move 10s linear infinite;
}

@keyframes move {
  0% {
    left: 20%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 20%;
  }
}

/* Featured Work Section */

.project-line {
  width: 50%;
  margin-left: auto;
}

.project-head {
  text-align: center;
  margin-top: 5%;
}

.project-main {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, auto);
  justify-content: space-evenly;
  gap: 3rem;
  row-gap: 2rem;
  align-items: center;
  text-align: center;
}

.project-img {
  display: flex;
  justify-self: center;
  width: 80%;
  border-radius: 1rem;
  object-fit: cover;
  height: 70vh;
}

.project-sub-head {
  font-size: 1.5rem;
  text-shadow: 0 0 0.5rem var(--color4);
  letter-spacing: 0.3rem;
  margin: 0;
  margin-bottom: 3%;
}

.sm-icon img {
  width: 2rem;
  height: 2rem;
}

.sm-icon {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.2rem solid black;
  border-top: 0.2rem solid black;
  padding: 0.5rem;
}

.project-btn {
  padding: 0.5rem;
  margin: 3%;
  width: 10rem;
  background-color: var(--color1);
  color: var(--color2);
  font-size: 1.3rem;
  transition: all 0.5s ease;
  border: var(--color2) solid;
}

.project-btn:hover {
  background-color: var(--color2);
  color: var(--color1);
  letter-spacing: 0.2rem;
  box-shadow: 0 0 2rem var(--color3);
}

/* Footer */
.gradient1 {
  width: 100vw;
  height: 20vh;
  background: linear-gradient(#1b1b1b, black);
}

.contact-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  text-align: center;
  padding: 1rem;
  background-color: rgba(27, 27, 27, 0.8);
}

.contact-box div {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.contact-box div img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: var(--color2);
  padding: 0.3rem;
  border-radius: 10%;
}

.contact-box h4 {
  margin: 0;
}

.working {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

.footer {
  position: relative;
}
